.chart-widget {
    width: 90%;
    align-items: center;
    margin: auto;
    padding-top: 5%;
}

.flex {
    display: flex;
    align-items: center;
}

.chart {
    position: relative;
    border-radius: 50%;
    background-color: #FFF;
    width: 25%;
    display: flex;
}

.background {
    font-family: 'Oswald', sans-serif;
    color: #3c77b1;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
}

.percent {
    margin: auto;
}

.chart canvas {
    width: 100%;
}

.label-container {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.label {
    margin: 0;
}

